{% extends "basic_app/base.html" %}
{% block body_block %}
  <div class="jumbotron">
<div class="container">


  <h1 class="center">About</h1>
  
  <h3>Download Previous Year question paper of your college for free!</<h3>
    <p></p>
    <h3>Help our community!</h3>
    <h3>Is previous year question paper with you?</h3>
    <h2>Upload here in just simple 3 steps!<h2>
    <h2><ol>
      <li>Register youself</li>
      <li>Login</li>
      <li>Upload the paper</li>
    </ol></h2>
    <h3>We will upload it after verification!</h3>
    </div>
</div>

{% endblock %}
